<html>
  <head>
    <title>Senhas</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
      body {
        font-family: sans-serif;
        background-color: #000;
        color: #fff;
      }

      .container {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
      }

      .large {
        font-size: 78px;
      }

      .medium {
        font-size: 39px;
       }

      .container > p {
        font-size: 146px;
        font-weight: bold;
      }

      .column {
        width: 50%;
      }

      .invert {
        color: #000 !important;
        background: #fff !important;
      }

      .bold {
        font-weight: bold;
      }

      .center {
        text-align: center;
      }

      #tabela-historico {
        border-collapse: collapse;
        margin: 0 auto;
      }

      #tabela-historico  td, #tabela-historico  th {
        padding: 10px 20px;
        text-align: right;
        border-width: 1px;
        border-color: #fff;
      }
    </style>
    <link rel="sourcemap" href="/socket.io-client/dist/socket.io.js.map">
  </head>
  <body>
    <audio id="bell" src="./bell.wav" preload="auto">
      <p>Este navegador não suporta a tag audio</p>
    </audio>
    <div class="container">
      <div class="column large bold">
        <p>Senha: <span id="senha"><%= counter %></span></p>
        <p>Guichê: <span id="guiche"><%= mesa %></span></p>
      </div>
      <div class="column medium center">
        <p>Últimas senhas chamadas:</p>
        <table class="medium" id="tabela-historico">
          <thead>
            <tr>
              <th>SENHA</th>
              <th>MESA</th>
              <th>HORA</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="./counter.js"></script>
  </body>
</html>