<html>
  <head>
    <title>Senhas</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
      body {
        font-family: sans-serif;
        background-color: #000;
        color: #fff;
      }

      .container {
        text-align: center;
        font-size: 78px;
      }

      .container > p {
        font-size: 146px;
        font-weight: bold;
      }

      .invert {
        color: #000 !important;
        background: #fff !important;
      }
    </style>
    <link rel="sourcemap" href="/socket.io-client/dist/socket.io.js.map">
  </head>
  <body>
    <audio id="bell" src="./bell.wav" preload="auto">
      <p>Este navegador não suporta a tag audio</p>
    </audio>
    <div class="container">
      <p>Senha: <span id="senha"><%= counter %></span></p>
      <p>Guichê: <span id="guiche"><%= mesa %></span></p>
    </div>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="./counter.js"></script>
  </body>
</html>