<html>
  <head>
    <title>MESA</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
      * {
        font-family: sans-serif;
      }

      body {
        text-align: center;
      }
    </style>
    <link rel="sourcemap" href="/socket.io-client/dist/socket.io.js.map">
  </head>
  <body>
    <h1>Senha atual: <span id="senha"><%= counter %></span>, guichê: <span id="mesa-origem"><%= mesa %></span></h1>
    <form action="" id="call">
      <p>
        <label for="mesa">Guichê:</label>
        <input type="text" name="mesa" id="mesa">
      </p>
      <p>
        <button>Chamar próxima senha</button>
        <button type="button" id="reset">Reiniciar contagem</button>
      </p>
    </form>

    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="./mesa.js"></script>
  </body>
</html>